/******************************************************************
Sandcast - Moxy's Boilerplate, based on Plate

Stylesheet: Shared Variables

These get imported into both our main CSS and into Bulma's

******************************************************************/

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$blue: #164985;

// Update Bulma's global variables
//$family-sans-serif: "Poppins", sans-serif;
$family-sans-serif: myriad-pro, sans-serif;
//$brand-sans: myriad-pro, sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;


$link: darken($primary, 10%);
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
//$body-background-color: white;
//$control-border-width: 2px;
//$input-border-color: #dbdbdb;
//$input-shadow: none;
//$box-shadow: none;
